* {
    margin: 0.5rem;
    background-color: rgb(233, 219, 201);
}

h1 {
    text-align: center;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button {
    width: 5rem;
    box-shadow: 0px 0px 3px navy;
}
.log {
    margin: auto;
    width: 50%;
    height: 10rem;
    border: 2px solid navy;
    text-align: center;
}
.result {
    display: flex;
    align-items: center;
    justify-content: center;
}